<%- include('../partials/header'); %>
<!-- open main -->
<main class="main add-movie-main container" id="main">
    <form action="/api/movie/create" class="movie-form" method="post" id="form">
        <div class="title-div">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div class="rating-div">
            <label for="rating">Rating</label>
            <select name="rating" id="rating" required>
                <option value="1">G</option>
                <option value="2">PG</option>
                <option value="3">PG-13</option>
                <option value="4">R</option>
                <option value="5">NC-17</option>
                <option value="6">TV-Y</option>
                <option value="7">TV-7</option>
                <option value="8">TV-14</option>
                <option value="9">TV-MA</option>
                <option value="10">NR</option>
            </select>
        </div>
        <div class="year-div">
            <label for="year">Year</label>
            <input type="number" min="1900" max="<%= new Date().getFullYear() + 2 %>" name="year" id="year" required>
        </div>
        <div class="director-div">
            <label for="director">Director</label>
            <!-- <input type="number" min="1" max="20" name="director" id="director" required> -->
            <select name="director" id="director">
                <% data.forEach(item => { %>
                    <option value="<%= item.director_id %>"><%= item.fName %> <%= item.lName %></option>
                <% }) %>
            </select>
        </div>
        <div class="user-rating-div">
            <label for="user_rating">User Rating</label>
            <select name="user_rating" id="user_rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="run-time-div">
            <label for="run_time">Run Time</label>
            <div class="hr-min">
                <input class="run-time" name="hr" type="number" min="0" max="23" placeholder="23">:
                <input class="run-time" name="min" type="number" min="0" max="59" placeholder="00">
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
    <div class="output"></div>
</main>
<!-- close main -->
<%- include('../partials/footer'); %>