<%- include('../partials/header'); %>
<!-- open main -->
<main class="main movie-single-main container" id="main">
    <div class="row">
        <div class="movie-single-div">
            <p class="movie-single-text text-center">Rating: <%= data.rating %></p>
            <p class="movie-single-text text-center">Year: <%= data.year %></p>
            <p class="movie-single-text text-center">Run Time: <%= data.run_time %></p>
        </div>
    </div>
</main>
<!-- close main -->
<%- include('../partials/footer'); %>